body{
	margin: 0;
	padding: 0;
	background: url(images/header_bg.png) repeat-x;
}
#header{
	width: 900px;
	height: 30px;
	margin: 0 auto;
}
#header .logo{
	width: 100px;
	height: 30px;
	float: left;
}
#header .logo img{
	display: block;
}
#header .member{
	width: 80px;
	height: 30px;
	line-height: 30px;
	float: right;
	background: url(images/arrow2.png) no-repeat right;
	cursor: pointer;
	position: relative;
}
#list{
	padding: 0;
	margin: 0;
	position: absolute;
	top: 30px;
	left: -15px;
	background: #FBF7E1;
	width: 100px;
	height: 110px;
	border: 1px solid #999;
	border-top: none;
	padding: 10px 0 0 0;
	display: none;
}
#list li{
	list-style: none;
	height: 25px;
	line-height: 25px;
	text-indent: 20px;
	letter-spacing: 3px;
}
#list li a{
	text-decoration: none;
	color: #333;
	display: block;
	background: url(images/arrow3.gif) no-repeat 60px;
}
#list li a:hover{
	background: #fc0 url(images/arrow4.gif) no-repeat 60px;
}


#header .login{
	float: right;
	width: 40px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}
#login{
	width: 350px;
	height: 250px;
	border: 1px solid #ccc;
	position: absolute;
	display: none;
}
#login h2{
	height: 40px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color: #666;
	background: url(images/header_bg.png) repeat-x;
	margin: 0 0 20px 0;
	line-height: 30px;
}
#login img{
	float: right;
	position:relative;
	top: 6px;
	right: 8px;
	cursor: pointer;
}
#login input.text{
	width: 200px;
	height: 25px;
	border: 1px solid #ccc;
	background: #fff;
	font-size: 14px;
}
#login div.user,#login div.pass{
	font-size: 14px;
	color: #666;
	padding: 10px 0;
	text-align: center;
}
#login input.submit{
	width: 107px;
	height: 30px;
	background: url(images/login_button.png) no-repeat;
	border: none;
	cursor: pointer;
}
#login .button{
	text-align: center;
	padding: 10px 0;
}
#login .other{
	text-align: right;
	padding: 15px;
	color: #666;
	font-size: 12px;
	cursor: pointer;
}


